<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.cuco.dao.MemberInfoMapper" >

  <!-- 按主键实体查询表信息 -->
  <select id="getMemberInfoByMemberId" resultMap="BaseResultMap" parameterType="cn.cuco.entity.MemberInfo" >
    select 
       <include refid="Base_Column_List" />
    from td_member_info where member_id = #{memberId,jdbcType=BIGINT}
  </select>

</mapper>
