<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hy.gcar.dao.BasicServiceServicecityMapper" >
  <resultMap id="BaseResultMap" type="com.hy.gcar.entity.BasicServiceServicecity" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="city_id" property="cityId" jdbcType="INTEGER" />
    <result column="city_name" property="cityName" jdbcType="VARCHAR" />
    <result column="city_code" property="cityCode" jdbcType="VARCHAR" />
    <result column="service_id" property="serviceId" jdbcType="BIGINT" />
  </resultMap>

<!-- 分条件查询sql 语句 -->
  <select id="selectCountByCondition" resultType="INTEGER" parameterType="com.hy.gcar.entity.BasicServiceServicecity" >
       select  count(1) 
    from tr_basic_service_servicecity  
  <where>
      <if test= "id != null ">
        and id = #{id,jdbcType=BIGINT}      
      </if>
      <if test= "cityId != null ">
        and city_id = #{cityId,jdbcType=INTEGER}      
      </if>
      <if test= "cityName != null and cityName != '' ">
        and city_name = #{cityName,jdbcType=VARCHAR}      
      </if>
      <if test= "cityCode != null and cityCode != '' ">
        and city_code = #{cityCode,jdbcType=VARCHAR}      
      </if>
      <if test= "serviceId != null ">
        and service_id = #{serviceId,jdbcType=BIGINT}      
      </if>
  </where>
  </select>

<!-- 分条件查询sql 语句 -->
  <select id="selectByCondition" resultMap="BaseResultMap" parameterType="com.hy.gcar.entity.BasicServiceServicecity" >
       select  <include refid="Base_Column_List" />
    from tr_basic_service_servicecity  
  <where>
      <if test= "id != null ">
        and id = #{id,jdbcType=BIGINT}      
      </if>
      <if test= "cityId != null ">
        and city_id = #{cityId,jdbcType=INTEGER}      
      </if>
      <if test= "cityName != null and cityName != '' ">
        and city_name = #{cityName,jdbcType=VARCHAR}      
      </if>
      <if test= "cityCode != null and cityCode != '' ">
        and city_code = #{cityCode,jdbcType=VARCHAR}      
      </if>
      <if test= "serviceId != null ">
        and service_id = #{serviceId,jdbcType=BIGINT}      
      </if>
  </where>
  </select>

<!-- select部分查询字段集合 -->
  <sql id="Base_Column_List">
      id, city_id, city_name, 
      city_code, service_id
  </sql>

  <!-- 按主键实体查询表信息 -->
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.hy.gcar.entity.BasicServiceServicecity" >
    select 
      id, city_id, city_name, 
      city_code, service_id
    from tr_basic_service_servicecity where id = #{id,jdbcType=BIGINT}
  </select>

  <!-- 按表主键删除数据 -->
  <delete id="deleteByPrimaryKey" parameterType="com.hy.gcar.entity.BasicServiceServicecity" >
    delete from tr_basic_service_servicecity where id = #{id,jdbcType=BIGINT}
  </delete>

  <!-- 按表主键批量删除数据 -->
  <delete id="deleteBatchByPrimaryKey" parameterType="java.util.List" >
    delete from tr_basic_service_servicecity where 
    <foreach collection="list" item="item" index="index" open="(" separator="or" close=")">
        id = #{item}
    </foreach>
  </delete>

  <!-- 可选择性添加数据 -->
  <insert id="insertSelective"  useGeneratedKeys="true" keyProperty="id" parameterType="com.hy.gcar.entity.BasicServiceServicecity" >
    insert into tr_basic_service_servicecity
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test= "id != null ">
         id,
      </if>
      <if test= "cityId != null ">
         city_id,
      </if>
      <if test= "cityName != null and cityName != '' ">
         city_name,
      </if>
      <if test= "cityCode != null and cityCode != '' ">
         city_code,
      </if>
      <if test= "serviceId != null ">
         service_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test= "id != null ">
         #{id,jdbcType=BIGINT},
      </if>
      <if test= "cityId != null ">
         #{cityId,jdbcType=INTEGER},
      </if>
      <if test= "cityName != null and cityName != '' ">
         #{cityName,jdbcType=VARCHAR},
      </if>
      <if test= "cityCode != null and cityCode != '' ">
         #{cityCode,jdbcType=VARCHAR},
      </if>
      <if test= "serviceId != null ">
         #{serviceId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>

  <!-- 可批量添加数据 -->
  <insert id="insertBatch" parameterType="java.util.List" >
    insert into tr_basic_service_servicecity (
         id,
         city_id,
         city_name,
         city_code,
         service_id)
    values 
    <foreach collection="list" item="item" index="index" separator=",">
         (
         #{item.id,jdbcType=BIGINT},
         #{item.cityId,jdbcType=INTEGER},
         #{item.cityName,jdbcType=VARCHAR},
         #{item.cityCode,jdbcType=VARCHAR},
         #{item.serviceId,jdbcType=BIGINT})
    </foreach>
  </insert>

  <!-- 按主键更新表中所有字段信息（create_time,c_time_stamp字段除外）-->
  <update id="updateByPrimaryKeySelective" parameterType="com.hy.gcar.entity.BasicServiceServicecity" >
    update tr_basic_service_servicecity
    <set>
      <if test= "id != null ">
      id = #{id,jdbcType=BIGINT},
      </if>
      <if test= "cityId != null ">
      city_id = #{cityId,jdbcType=INTEGER},
      </if>
      <if test= "cityName != null and cityName != '' ">
      city_name = #{cityName,jdbcType=VARCHAR},
      </if>
      <if test= "cityCode != null and cityCode != '' ">
      city_code = #{cityCode,jdbcType=VARCHAR},
      </if>
      <if test= "serviceId != null ">
      service_id = #{serviceId,jdbcType=BIGINT}
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>

</mapper>
