<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hy.gcar.dao.CarTypeMapper" >
  <resultMap id="BaseResultMap" type="com.hy.gcar.entity.CarType" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="brand" property="brand" jdbcType="VARCHAR" />
    <result column="car_type" property="carType" jdbcType="VARCHAR" />
    <result column="image_url" property="imageUrl" jdbcType="VARCHAR" />
    <result column="cartype_power" property="cartypePower" jdbcType="INTEGER" />
    <result column="cartype_color" property="cartypeColor" jdbcType="VARCHAR" />
    <result column="vidio_url" property="vidioUrl" jdbcType="VARCHAR" />
    <result column="road_rescue" property="roadRescue" jdbcType="INTEGER" />
    <result column="charging" property="charging" jdbcType="INTEGER" />
    <result column="created" property="created" jdbcType="TIMESTAMP" />
    <result column="cartype_introduce" property="cartypeIntroduce" jdbcType="VARCHAR" />
    <result column="cartype_param" property="cartypeParam" jdbcType="VARCHAR" />
     <result column="day_price" property="dayPrice" jdbcType="DECIMAL" />
     <result column="scene" property="scene" jdbcType="INTEGER" />
     <result column="is_infinite_stock" property="isInfiniteStock" jdbcType="INTEGER" />
     <result column="is_restriction" property="isRestriction" jdbcType="INTEGER" />
  </resultMap>

<!-- 分条件查询sql 语句 -->
  <select id="selectByCondition" resultMap="BaseResultMap" parameterType="com.hy.gcar.entity.CarType" >
       select  <include refid="Base_Column_List" />
    from tc_car_type  
  <where>
      <if test= "id != null ">
        and id = #{id,jdbcType=BIGINT}      
      </if>
      <if test= "brand != null and brand != '' ">
        and brand = #{brand,jdbcType=VARCHAR}      
      </if>
      <if test= "carType != null and carType != '' ">
        and car_type = #{carType,jdbcType=VARCHAR}      
      </if>
      <if test= "imageUrl != null and imageUrl != '' ">
        and image_url = #{imageUrl,jdbcType=VARCHAR}      
      </if>
      <if test= "cartypePower != null ">
        and cartype_power = #{cartypePower,jdbcType=INTEGER}      
      </if>
      <if test= "cartypeColor != null and cartypeColor != '' ">
        and cartype_color = #{cartypeColor,jdbcType=VARCHAR}      
      </if>
      <if test= "vidioUrl != null and vidioUrl != '' ">
        and vidio_url = #{vidioUrl,jdbcType=VARCHAR}      
      </if>
      <if test= "roadRescue != null ">
        and road_rescue = #{roadRescue,jdbcType=INTEGER}      
      </if>
      <if test= "charging != null ">
        and charging = #{charging,jdbcType=INTEGER}      
      </if>
      <if test= "created != null ">
        and created = #{created,jdbcType=TIMESTAMP}      
      </if>
      <if test= "cartypeIntroduce != null and cartypeIntroduce != '' ">
        and cartype_introduce = #{cartypeIntroduce,jdbcType=VARCHAR}      
      </if>
      <if test= "cartypeParam != null and cartypeParam != '' ">
        and cartype_param = #{cartypeParam,jdbcType=VARCHAR}      
      </if>
      <if test= "scene != null ">
        and scene = #{scene,jdbcType=INTEGER}      
      </if>
  </where>
  </select>

<!-- select部分查询字段集合 -->
  <sql id="Base_Column_List">
      id, brand, car_type, 
      image_url, cartype_power, cartype_color, 
      vidio_url, road_rescue, charging, 
      created, cartype_introduce, cartype_param,scene,is_infinite_stock,is_restriction
  </sql>

  <!-- 按主键实体查询表信息 -->
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.hy.gcar.entity.CarType" >
    select 
      id, brand, car_type, 
      image_url, cartype_power, cartype_color, 
      vidio_url, road_rescue, charging, 
      created, cartype_introduce, cartype_param,scene,is_infinite_stock,is_restriction
    from tc_car_type where id = #{id,jdbcType=BIGINT}
  </select>

  <!-- 按表主键删除数据 -->
  <delete id="deleteByPrimaryKey" parameterType="com.hy.gcar.entity.CarType" >
    delete from tc_car_type where id = #{id,jdbcType=BIGINT}
  </delete>

  <!-- 按表主键批量删除数据 -->
  <delete id="deleteBatchByPrimaryKey" parameterType="java.util.List" >
    delete from tc_car_type where id in
      <foreach item="id" index="index" collection="list" open="(" separator="," close=")">
          #{id}
      </foreach>
  </delete>
    
    
    <select id="selectCarTypeByIds" parameterType="java.util.List" resultMap="BaseResultMap">
      select <include refid="Base_Column_List" /> FROM
      tc_car_type where id in
      <foreach collection="list" item="item" index="index" open="(" separator="," close=")">
            #{item}
      </foreach>
    </select>
    
  <!-- 可选择性添加数据 -->
  <insert id="insertSelective"  parameterType="com.hy.gcar.entity.CarType" useGeneratedKeys="true" keyProperty="id">
    insert into tc_car_type
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test= "id != null ">
         id,
      </if>
      <if test= "brand != null and brand != '' ">
         brand,
      </if>
      <if test= "carType != null and carType != '' ">
         car_type,
      </if>
      <if test= "imageUrl != null and imageUrl != '' ">
         image_url,
      </if>
      <if test= "cartypePower != null ">
         cartype_power,
      </if>
      <if test= "cartypeColor != null and cartypeColor != '' ">
         cartype_color,
      </if>
      <if test= "vidioUrl != null and vidioUrl != '' ">
         vidio_url,
      </if>
      <if test= "roadRescue != null ">
         road_rescue,
      </if>
      <if test= "charging != null ">
         charging,
      </if>
      <if test= "created != null ">
         created,
      </if>
      <if test= "cartypeIntroduce != null and cartypeIntroduce != '' ">
         cartype_introduce,
      </if>
      <if test= "cartypeParam != null and cartypeParam != '' ">
         cartype_param,
      </if>
      <if test= "scene != null ">
         scene,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test= "id != null ">
         #{id,jdbcType=BIGINT},
      </if>
      <if test= "brand != null and brand != '' ">
         #{brand,jdbcType=VARCHAR},
      </if>
      <if test= "carType != null and carType != '' ">
         #{carType,jdbcType=VARCHAR},
      </if>
      <if test= "imageUrl != null and imageUrl != '' ">
         #{imageUrl,jdbcType=VARCHAR},
      </if>
      <if test= "cartypePower != null ">
         #{cartypePower,jdbcType=INTEGER},
      </if>
      <if test= "cartypeColor != null and cartypeColor != '' ">
         #{cartypeColor,jdbcType=VARCHAR},
      </if>
      <if test= "vidioUrl != null and vidioUrl != '' ">
         #{vidioUrl,jdbcType=VARCHAR},
      </if>
      <if test= "roadRescue != null ">
         #{roadRescue,jdbcType=INTEGER},
      </if>
      <if test= "charging != null ">
         #{charging,jdbcType=INTEGER},
      </if>
      <if test= "created != null ">
         #{created,jdbcType=TIMESTAMP},
      </if>
      <if test= "cartypeIntroduce != null and cartypeIntroduce != '' ">
         #{cartypeIntroduce,jdbcType=VARCHAR},
      </if>
      <if test= "cartypeParam != null and cartypeParam != '' ">
         #{cartypeParam,jdbcType=VARCHAR},
      </if>
      <if test= "scene != null ">
         #{scene,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>

  <!-- 可批量添加数据 -->
  <insert id="insertBatch" parameterType="java.util.List" >
    insert into tc_car_type (
         id,
         brand,
         car_type,
         image_url,
         cartype_power,
         cartype_color,
         vidio_url,
         road_rescue,
         charging,
         created,
         cartype_introduce,
         cartype_param,
         scene)
    values 
    <foreach collection="list" item="item" index="index" separator=",">
         (
         #{item.id,jdbcType=BIGINT},
         #{item.brand,jdbcType=VARCHAR},
         #{item.carType,jdbcType=VARCHAR},
         #{item.imageUrl,jdbcType=VARCHAR},
         #{item.cartypePower,jdbcType=INTEGER},
         #{item.cartypeColor,jdbcType=VARCHAR},
         #{item.vidioUrl,jdbcType=VARCHAR},
         #{item.roadRescue,jdbcType=INTEGER},
         #{item.charging,jdbcType=INTEGER},
         #{item.created,jdbcType=TIMESTAMP},
         #{item.cartypeIntroduce,jdbcType=VARCHAR},
         #{item.cartypeParam,jdbcType=VARCHAR},
         #{item.scene,jdbcType=INTEGER})
    </foreach>
  </insert>

  <!-- 按主键更新表中所有字段信息（create_time,c_time_stamp字段除外）-->
  <update id="updateByPrimaryKeySelective" parameterType="com.hy.gcar.entity.CarType" >
    update tc_car_type
    <set>
      <if test= "id != null ">
      id = #{id,jdbcType=BIGINT},
      </if>
      <if test= "brand != null and brand != '' ">
      brand = #{brand,jdbcType=VARCHAR},
      </if>
      <if test= "carType != null and carType != '' ">
      car_type = #{carType,jdbcType=VARCHAR},
      </if>
      <if test= "imageUrl != null and imageUrl != '' ">
      image_url = #{imageUrl,jdbcType=VARCHAR},
      </if>
      <if test= "cartypePower != null ">
      cartype_power = #{cartypePower,jdbcType=INTEGER},
      </if>
      <if test= "cartypeColor != null and cartypeColor != '' ">
      cartype_color = #{cartypeColor,jdbcType=VARCHAR},
      </if>
      <if test= "vidioUrl != null and vidioUrl != '' ">
      vidio_url = #{vidioUrl,jdbcType=VARCHAR},
      </if>
      <if test= "roadRescue != null ">
      road_rescue = #{roadRescue,jdbcType=INTEGER},
      </if>
      <if test= "charging != null ">
      charging = #{charging,jdbcType=INTEGER},
      </if>
      <if test= "created != null ">
      created = #{created,jdbcType=TIMESTAMP},
      </if>
      <if test= "cartypeIntroduce != null and cartypeIntroduce != '' ">
      cartype_introduce = #{cartypeIntroduce,jdbcType=VARCHAR},
      </if>
      <if test= "cartypeParam != null and cartypeParam != '' ">
      cartype_param = #{cartypeParam,jdbcType=VARCHAR},
      </if>
      <if test= "scene != null ">
      scene = #{scene,jdbcType=INTEGER}
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>

<!-- 极车展厅 -->
<select id="selectCarTypes" resultMap="BaseResultMap" parameterType="com.hy.gcar.entity.CarType" >
<!--   SELECT c.*,t.price as day_price from tc_car_type c 
	LEFT JOIN
	(SELECT DISTINCT i.cartype_id,MIN(day_price) as price from td_item_cartype i  GROUP BY i.cartype_id) t
	ON c.id=t.cartype_id -->
	SELECT c.*,t.price as day_price FROM
	( SELECT DISTINCT i.cartype_id,MIN(day_price) as price from td_item_cartype i 
		LEFT JOIN td_item e ON e.id = i.item_id WHERE e.`status`=1 GROUP BY i.cartype_id 
	) t
		LEFT JOIN
	 tc_car_type c ON c.id=t.cartype_id
	 WHERE c.id in(
	SELECT DISTINCT a.cartype_id  from td_item_cartype a )
	<if test="carType != null and carType != ''">
		AND car_type= #{carType,jdbcType=VARCHAR};
	</if>

  </select>
<!-- 根据套餐id查询套餐下所有车型 -->
<select id="selectByItemId" resultMap="BaseResultMap" parameterType="long" >
		 SELECT t.* from td_item_cartype i
		LEFT JOIN tc_car_type t ON i.cartype_id =t.id 
		WHERE i.item_id= #{itemId,jdbcType=BIGINT}

  </select>
  


</mapper>
