<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hy.gcar.dao.NationMapper" >
  <resultMap id="BaseResultMap" type="com.hy.gcar.entity.Nation" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="province" property="province" jdbcType="VARCHAR" />
    <result column="city" property="city" jdbcType="VARCHAR" />
    <result column="district" property="district" jdbcType="VARCHAR" />
    <result column="parent" property="parent" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, code, province, city, district, parent
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tc_nation
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  
   <select id="selectByParent" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tc_nation a 
    where a.id = (select parent from tc_nation  where id = #{id,jdbcType=INTEGER})
  </select>
  
  
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tc_nation
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.hy.gcar.entity.Nation" >
    insert into tc_nation (id, code, province, 
      city, district, parent
      )
    values (#{id,jdbcType=INTEGER}, #{code,jdbcType=VARCHAR}, #{province,jdbcType=VARCHAR}, 
      #{city,jdbcType=VARCHAR}, #{district,jdbcType=VARCHAR}, #{parent,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.hy.gcar.entity.Nation" >
    insert into tc_nation
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="code != null" >
        code,
      </if>
      <if test="province != null" >
        province,
      </if>
      <if test="city != null" >
        city,
      </if>
      <if test="district != null" >
        district,
      </if>
      <if test="parent != null" >
        parent,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="code != null" >
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="province != null" >
        #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="district != null" >
        #{district,jdbcType=VARCHAR},
      </if>
      <if test="parent != null" >
        #{parent,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hy.gcar.entity.Nation" >
    update tc_nation
    <set >
      <if test="code != null" >
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="province != null" >
        province = #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        city = #{city,jdbcType=VARCHAR},
      </if>
      <if test="district != null" >
        district = #{district,jdbcType=VARCHAR},
      </if>
      <if test="parent != null" >
        parent = #{parent,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hy.gcar.entity.Nation" >
    update tc_nation
    set code = #{code,jdbcType=VARCHAR},
      province = #{province,jdbcType=VARCHAR},
      city = #{city,jdbcType=VARCHAR},
      district = #{district,jdbcType=VARCHAR},
      parent = #{parent,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  
  <select id="getNationByParentID"  parameterType="com.hy.gcar.entity.Nation" resultMap="BaseResultMap">
	    select 
	    <include refid="Base_Column_List" />
	    from tc_nation 
	    where parent in
	    <foreach item="parent" collection="parentList" separator="," open="(" close=")" index="">  
      			#{parent, jdbcType=VARCHAR}  
		</foreach> 
  </select>
  
  
 	<select id="getNationByCity"  parameterType="com.hy.gcar.entity.Nation" resultMap="BaseResultMap">
	    select 
	    <include refid="Base_Column_List" />
	    from tc_nation 
	    where city = #{city,jdbcType=VARCHAR}
  </select>
  
   	<select id="getNationByCityCode"  parameterType="com.hy.gcar.entity.Nation" resultMap="BaseResultMap">
	    select 
	    <include refid="Base_Column_List" />
	    from tc_nation 
	    where code = #{code,jdbcType=VARCHAR}
  </select>
  
  <select id="getParentNationByCityeCodeOrId"  parameterType="com.hy.gcar.entity.Nation" resultMap="BaseResultMap">
	    select 
	    <include refid="Base_Column_List" />
	    from  tc_nation
	   	 where id = (select parent from tc_nation  where 
	   	<if test="code != null" >
        	code = #{code,jdbcType=VARCHAR}
      	</if>
	   	<if test="id != null" >
        	#{id,jdbcType=INTEGER}
      	</if>
	   	)
  </select>
  
  
</mapper>