<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hy.gcar.dao.WechatNoticeTemplateMapper" >
  <resultMap id="BaseResultMap" type="com.hy.gcar.entity.WechatNoticeTemplate" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="library_id" property="libraryId" jdbcType="VARCHAR" />
    <result column="template_id" property="templateId" jdbcType="VARCHAR" />
    <result column="created" property="created" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, library_id, template_id, created
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from td_wechat_notice_template
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from td_wechat_notice_template
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.hy.gcar.entity.WechatNoticeTemplate" >
    insert into td_wechat_notice_template (id, library_id, template_id, 
      created)
    values (#{id,jdbcType=BIGINT}, #{libraryId,jdbcType=VARCHAR}, #{templateId,jdbcType=VARCHAR}, 
      #{created,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.hy.gcar.entity.WechatNoticeTemplate" >
    insert into td_wechat_notice_template
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="libraryId != null" >
        library_id,
      </if>
      <if test="templateId != null" >
        template_id,
      </if>
      <if test="created != null" >
        created,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="libraryId != null" >
        #{libraryId,jdbcType=VARCHAR},
      </if>
      <if test="templateId != null" >
        #{templateId,jdbcType=VARCHAR},
      </if>
      <if test="created != null" >
        #{created,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hy.gcar.entity.WechatNoticeTemplate" >
    update td_wechat_notice_template
    <set >
      <if test="libraryId != null" >
        library_id = #{libraryId,jdbcType=VARCHAR},
      </if>
      <if test="templateId != null" >
        template_id = #{templateId,jdbcType=VARCHAR},
      </if>
      <if test="created != null" >
        created = #{created,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hy.gcar.entity.WechatNoticeTemplate" >
    update td_wechat_notice_template
    set library_id = #{libraryId,jdbcType=VARCHAR},
      template_id = #{templateId,jdbcType=VARCHAR},
      created = #{created,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>