@charset "utf-8";
@import url("css.css");
@import url("node.css");
.red{color: #fe4437 !important;}
.infoBox{background: #eee; padding-bottom: 4%;}
.infoList{border-bottom: 1px solid #e2e2e2; background: #fff; padding: 0 10px; font-size: 1.4rem; color: #333;}
.infoList li{width: 93%; box-sizing: border-box; margin: auto; overflow: hidden;padding: 12px 0; border-bottom: 1px solid #ccc;}
.infoList li:last-child{border-bottom: 0;}
.infoList .name{float: left;}
.infoList .val{float: right; color: #666;}
.infoList .longVal{max-width: 80%; display: block; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.payment{font-weight: bold;}


/*用车时间地点*/
.usedInfo{background: #fff; border-bottom: 1px solid #ccc;}
.usedInfo li{width: 93%; margin: auto; position: relative; background: url("../images/arrow_right_2.png") no-repeat right center; background-size: 8px; border-bottom: 1px solid #ccc;}
.usedInfo li:last-child{border-bottom: 0;}
.usedInfo input{width: 100%; box-sizing: border-box; padding: 14px; font-size: 1.4rem; display: block; padding-left: 24px; -webkit-appearance: none;}
.usedInfo .date{max-width: 100%; min-width: 100%; min-height: 48px; background: url("../images/clock_2.png") no-repeat left center; background-size: 16px; border-bottom: 0;}
.usedInfo .addPoint{background: url("../images/addpoint.png") no-repeat left center; background-size: 14px;}
.usedInfo .datePlayce{position: absolute; top: 0; left: 24px; padding: 14px 0; color: #ccc;}