<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.cuco.dao.InsuranceMapper" >
  <resultMap id="BaseResultMap" type="cn.cuco.entity.Insurance" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="insurance_number" property="insuranceNumber" jdbcType="VARCHAR" />
    <result column="insurance_name" property="insuranceName" jdbcType="VARCHAR" />
    <result column="insurance_address" property="insuranceAddress" jdbcType="VARCHAR" />
  </resultMap>

<!-- 分条件查询sql 语句 -->
  <select id="selectCountByCondition" resultType="INTEGER" parameterType="cn.cuco.entity.Insurance" >
       select  count(1) 
    from tc_insurance  
  <where>
      <if test= "id != null ">
        and id = #{id,jdbcType=BIGINT}      
      </if>
      <if test= "insuranceNumber != null and insuranceNumber != '' ">
        and insurance_number = #{insuranceNumber,jdbcType=VARCHAR}      
      </if>
      <if test= "insuranceName != null and insuranceName != '' ">
        and insurance_name = #{insuranceName,jdbcType=VARCHAR}      
      </if>
      <if test= "insuranceAddress != null and insuranceAddress != '' ">
        and insurance_address = #{insuranceAddress,jdbcType=VARCHAR}      
      </if>
  </where>
  </select>

<!-- 分条件查询sql 语句 -->
  <select id="selectByCondition" resultMap="BaseResultMap" parameterType="cn.cuco.entity.Insurance" >
       select  <include refid="Base_Column_List" />
    from tc_insurance  
  <where>
      <if test= "id != null ">
        and id = #{id,jdbcType=BIGINT}      
      </if>
      <if test= "insuranceNumber != null and insuranceNumber != '' ">
        and insurance_number = #{insuranceNumber,jdbcType=VARCHAR}      
      </if>
      <if test= "insuranceName != null and insuranceName != '' ">
        and insurance_name = #{insuranceName,jdbcType=VARCHAR}      
      </if>
      <if test= "insuranceAddress != null and insuranceAddress != '' ">
        and insurance_address = #{insuranceAddress,jdbcType=VARCHAR}      
      </if>
  </where>
  </select>

<!-- select部分查询字段集合 -->
  <sql id="Base_Column_List">
      id, insurance_number, insurance_name, 
      insurance_address
  </sql>

  <!-- 按主键实体查询表信息 -->
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="cn.cuco.entity.Insurance" >
    select 
      id, insurance_number, insurance_name, 
      insurance_address
    from tc_insurance where id = #{id,jdbcType=BIGINT}
  </select>

  <!-- 按表主键删除数据 -->
  <delete id="deleteByPrimaryKey" parameterType="cn.cuco.entity.Insurance" >
    delete from tc_insurance where id = #{id,jdbcType=BIGINT}
  </delete>

  <!-- 按表主键批量删除数据 -->
  <delete id="deleteBatchByPrimaryKey" parameterType="java.util.List" >
    delete from tc_insurance where 
    <foreach collection="list" item="item" index="index" open="(" separator="or" close=")">
        id = #{item}
    </foreach>
  </delete>

  <!-- 可选择性添加数据 -->
  <insert id="insertSelective"  useGeneratedKeys="true" keyProperty="id" parameterType="cn.cuco.entity.Insurance" >
    insert into tc_insurance
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test= "id != null ">
         id,
      </if>
      <if test= "insuranceNumber != null and insuranceNumber != '' ">
         insurance_number,
      </if>
      <if test= "insuranceName != null and insuranceName != '' ">
         insurance_name,
      </if>
      <if test= "insuranceAddress != null and insuranceAddress != '' ">
         insurance_address,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test= "id != null ">
         #{id,jdbcType=BIGINT},
      </if>
      <if test= "insuranceNumber != null and insuranceNumber != '' ">
         #{insuranceNumber,jdbcType=VARCHAR},
      </if>
      <if test= "insuranceName != null and insuranceName != '' ">
         #{insuranceName,jdbcType=VARCHAR},
      </if>
      <if test= "insuranceAddress != null and insuranceAddress != '' ">
         #{insuranceAddress,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <!-- 可批量添加数据 -->
  <insert id="insertBatch" parameterType="java.util.List" >
    insert into tc_insurance (
         id,
         insurance_number,
         insurance_name,
         insurance_address)
    values 
    <foreach collection="list" item="item" index="index" separator=",">
         (
         #{item.id,jdbcType=BIGINT},
         #{item.insuranceNumber,jdbcType=VARCHAR},
         #{item.insuranceName,jdbcType=VARCHAR},
         #{item.insuranceAddress,jdbcType=VARCHAR})
    </foreach>
  </insert>

  <!-- 按主键更新表中所有字段信息（create_time,c_time_stamp字段除外）-->
  <update id="updateByPrimaryKeySelective" parameterType="cn.cuco.entity.Insurance" >
    update tc_insurance
    <set>
      <if test= "id != null ">
      id = #{id,jdbcType=BIGINT},
      </if>
      <if test= "insuranceNumber != null and insuranceNumber != '' ">
      insurance_number = #{insuranceNumber,jdbcType=VARCHAR},
      </if>
      <if test= "insuranceName != null and insuranceName != '' ">
      insurance_name = #{insuranceName,jdbcType=VARCHAR},
      </if>
      <if test= "insuranceAddress != null and insuranceAddress != '' ">
      insurance_address = #{insuranceAddress,jdbcType=VARCHAR}
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>

</mapper>
