<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.cuco.dao.SecurityIntervalMapper" >
  <resultMap id="BaseResultMap" type="cn.cuco.entity.SecurityInterval" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="max" property="max" jdbcType="INTEGER" />
    <result column="min" property="min" jdbcType="INTEGER" />
    <result column="limit_percent" property="limitPercent" jdbcType="DECIMAL" />
    <result column="created" property="created" jdbcType="TIMESTAMP" />
    <result column="lasttime_modify" property="lasttimeModify" jdbcType="TIMESTAMP" />
    <result column="modifier" property="modifier" jdbcType="VARCHAR" />
    <result column="modifier_id" property="modifierId" jdbcType="BIGINT" />
  </resultMap>

<!-- 分条件查询sql 语句 -->
  <select id="selectCountByCondition" resultType="INTEGER" parameterType="cn.cuco.entity.SecurityInterval" >
       select  count(1) 
    from td_security_interval  
  <where>
      <if test= "id != null ">
        and id = #{id,jdbcType=BIGINT}      
      </if>
      <if test= "max != null ">
        and max = #{max,jdbcType=INTEGER}      
      </if>
      <if test= "min != null ">
        and min = #{min,jdbcType=INTEGER}      
      </if>
      <if test= "limitPercent != null ">
        and limit_percent = #{limitPercent,jdbcType=DECIMAL}      
      </if>
      <if test= "created != null ">
        and created = #{created,jdbcType=TIMESTAMP}      
      </if>
      <if test= "lasttimeModify != null ">
        and lasttime_modify = #{lasttimeModify,jdbcType=TIMESTAMP}      
      </if>
      <if test= "modifier != null and modifier != '' ">
        and modifier = #{modifier,jdbcType=VARCHAR}      
      </if>
      <if test= "modifierId != null ">
        and modifier_id = #{modifierId,jdbcType=BIGINT}      
      </if>
  </where>
  </select>

<!-- 分条件查询sql 语句 -->
  <select id="selectByCondition" resultMap="BaseResultMap" parameterType="cn.cuco.entity.SecurityInterval" >
       select  <include refid="Base_Column_List" />
    from td_security_interval  
  <where>
      <if test= "id != null ">
        and id = #{id,jdbcType=BIGINT}      
      </if>
      <if test= "max != null ">
        and max = #{max,jdbcType=INTEGER}      
      </if>
      <if test= "min != null ">
        and min = #{min,jdbcType=INTEGER}      
      </if>
      <if test= "limitPercent != null ">
        and limit_percent = #{limitPercent,jdbcType=DECIMAL}      
      </if>
      <if test= "created != null ">
        and created = #{created,jdbcType=TIMESTAMP}      
      </if>
      <if test= "lasttimeModify != null ">
        and lasttime_modify = #{lasttimeModify,jdbcType=TIMESTAMP}      
      </if>
      <if test= "modifier != null and modifier != '' ">
        and modifier = #{modifier,jdbcType=VARCHAR}      
      </if>
      <if test= "modifierId != null ">
        and modifier_id = #{modifierId,jdbcType=BIGINT}      
      </if>
  </where>
  </select>

<!-- select部分查询字段集合 -->
  <sql id="Base_Column_List">
      id, max, min, 
      limit_percent, created, lasttime_modify, 
      modifier, modifier_id
  </sql>

  <!-- 按主键实体查询表信息 -->
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="cn.cuco.entity.SecurityInterval" >
    select 
      id, max, min, 
      limit_percent, created, lasttime_modify, 
      modifier, modifier_id
    from td_security_interval where id = #{id,jdbcType=BIGINT}
  </select>

  <!-- 按表主键删除数据 -->
  <delete id="deleteByPrimaryKey" parameterType="cn.cuco.entity.SecurityInterval" >
    delete from td_security_interval where id = #{id,jdbcType=BIGINT}
  </delete>

  <!-- 按表主键批量删除数据 -->
  <delete id="deleteBatchByPrimaryKey" parameterType="java.util.List" >
    delete from td_security_interval where 
    <foreach collection="list" item="item" index="index" open="(" separator="or" close=")">
        id = #{item}
    </foreach>
  </delete>

  <!-- 可选择性添加数据 -->
  <insert id="insertSelective"  useGeneratedKeys="true" keyProperty="id" parameterType="cn.cuco.entity.SecurityInterval" >
    insert into td_security_interval
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test= "id != null ">
         id,
      </if>
      <if test= "max != null ">
         max,
      </if>
      <if test= "min != null ">
         min,
      </if>
      <if test= "limitPercent != null ">
         limit_percent,
      </if>
      <if test= "created != null ">
         created,
      </if>
      <if test= "lasttimeModify != null ">
         lasttime_modify,
      </if>
      <if test= "modifier != null and modifier != '' ">
         modifier,
      </if>
      <if test= "modifierId != null ">
         modifier_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test= "id != null ">
         #{id,jdbcType=BIGINT},
      </if>
      <if test= "max != null ">
         #{max,jdbcType=INTEGER},
      </if>
      <if test= "min != null ">
         #{min,jdbcType=INTEGER},
      </if>
      <if test= "limitPercent != null ">
         #{limitPercent,jdbcType=DECIMAL},
      </if>
      <if test= "created != null ">
         #{created,jdbcType=TIMESTAMP},
      </if>
      <if test= "lasttimeModify != null ">
         #{lasttimeModify,jdbcType=TIMESTAMP},
      </if>
      <if test= "modifier != null and modifier != '' ">
         #{modifier,jdbcType=VARCHAR},
      </if>
      <if test= "modifierId != null ">
         #{modifierId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>

  <!-- 可批量添加数据 -->
  <insert id="insertBatch" parameterType="java.util.List" >
    insert into td_security_interval (
         id,
         max,
         min,
         limit_percent,
         created,
         lasttime_modify,
         modifier,
         modifier_id)
    values 
    <foreach collection="list" item="item" index="index" separator=",">
         (
         #{item.id,jdbcType=BIGINT},
         #{item.max,jdbcType=INTEGER},
         #{item.min,jdbcType=INTEGER},
         #{item.limitPercent,jdbcType=DECIMAL},
         #{item.created,jdbcType=TIMESTAMP},
         #{item.lasttimeModify,jdbcType=TIMESTAMP},
         #{item.modifier,jdbcType=VARCHAR},
         #{item.modifierId,jdbcType=BIGINT})
    </foreach>
  </insert>

  <!-- 按主键更新表中所有字段信息（create_time,c_time_stamp字段除外）-->
  <update id="updateByPrimaryKeySelective" parameterType="cn.cuco.entity.SecurityInterval" >
    update td_security_interval
    <set>
      <if test= "id != null ">
      id = #{id,jdbcType=BIGINT},
      </if>
      <if test= "max != null ">
      max = #{max,jdbcType=INTEGER},
      </if>
      <if test= "min != null ">
      min = #{min,jdbcType=INTEGER},
      </if>
      <if test= "limitPercent != null ">
      limit_percent = #{limitPercent,jdbcType=DECIMAL},
      </if>
      <if test= "created != null ">
      created = #{created,jdbcType=TIMESTAMP},
      </if>
      <if test= "lasttimeModify != null ">
      lasttime_modify = #{lasttimeModify,jdbcType=TIMESTAMP},
      </if>
      <if test= "modifier != null and modifier != '' ">
      modifier = #{modifier,jdbcType=VARCHAR},
      </if>
      <if test= "modifierId != null ">
      modifier_id = #{modifierId,jdbcType=BIGINT}
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>

</mapper>
