<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hy.weixin.push.dao.WechatNoticeMapper" >
  <resultMap id="BaseResultMap" type="com.hy.weixin.entity.WechatNotice" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="member_id" property="memberId" jdbcType="BIGINT" />
    <result column="member_name" property="memberName" jdbcType="VARCHAR" />
    <result column="openid" property="openid" jdbcType="VARCHAR" />
    <result column="template_id" property="templateId" jdbcType="VARCHAR" />
    <result column="url" property="url" jdbcType="VARCHAR" />
    <result column="jsondata" property="jsondata" jdbcType="VARCHAR" />
    <result column="created" property="created" jdbcType="TIMESTAMP" />
    <result column="sended" property="sended" jdbcType="TIMESTAMP" />
    <result column="statuts" property="statuts" jdbcType="INTEGER" />
    <result column="count" property="count" jdbcType="INTEGER" />
    <result column="return_data" property="returnData" jdbcType="VARCHAR" />
  </resultMap>

<!-- 分条件查询sql 语句 -->
  <select id="selectCountByCondition" resultType="INTEGER" parameterType="com.hy.weixin.entity.WechatNotice" >
       select  count(1) 
    from td_wechat_notice  
  <where>
      <if test= "id != null ">
        and id = #{id,jdbcType=BIGINT}      
      </if>
      <if test= "memberId != null ">
        and member_id = #{memberId,jdbcType=BIGINT}      
      </if>
      <if test= "memberName != null and memberName != '' ">
        and member_name = #{memberName,jdbcType=VARCHAR}      
      </if>
      <if test= "openid != null and openid != '' ">
        and openid = #{openid,jdbcType=VARCHAR}      
      </if>
      <if test= "templateId != null and templateId != '' ">
        and template_id = #{templateId,jdbcType=VARCHAR}      
      </if>
      <if test= "url != null and url != '' ">
        and url = #{url,jdbcType=VARCHAR}      
      </if>
      <if test= "jsondata != null and jsondata != '' ">
        and jsondata = #{jsondata,jdbcType=VARCHAR}      
      </if>
      <if test= "created != null ">
        and created = #{created,jdbcType=TIMESTAMP}      
      </if>
      <if test= "sended != null ">
        and sended = #{sended,jdbcType=TIMESTAMP}      
      </if>
      <if test= "statuts != null ">
        and statuts = #{statuts,jdbcType=INTEGER}      
      </if>
      <if test= "count != null ">
        and count = #{count,jdbcType=INTEGER}      
      </if>
      <if test= "returnData != null and returnData != '' ">
        and return_data = #{returnData,jdbcType=VARCHAR}      
      </if>
  </where>
  </select>

<!-- 分条件查询sql 语句 -->
  <select id="selectByCondition" resultMap="BaseResultMap" parameterType="com.hy.weixin.entity.WechatNotice" >
       select  <include refid="Base_Column_List" />
    from td_wechat_notice  
  <where>
      <if test= "id != null ">
        and id = #{id,jdbcType=BIGINT}      
      </if>
      <if test= "memberId != null ">
        and member_id = #{memberId,jdbcType=BIGINT}      
      </if>
      <if test= "memberName != null and memberName != '' ">
        and member_name = #{memberName,jdbcType=VARCHAR}      
      </if>
      <if test= "openid != null and openid != '' ">
        and openid = #{openid,jdbcType=VARCHAR}      
      </if>
      <if test= "templateId != null and templateId != '' ">
        and template_id = #{templateId,jdbcType=VARCHAR}      
      </if>
      <if test= "url != null and url != '' ">
        and url = #{url,jdbcType=VARCHAR}      
      </if>
      <if test= "jsondata != null and jsondata != '' ">
        and jsondata = #{jsondata,jdbcType=VARCHAR}      
      </if>
      <if test= "created != null ">
        and created = #{created,jdbcType=TIMESTAMP}      
      </if>
      <if test= "sended != null ">
        and sended = #{sended,jdbcType=TIMESTAMP}      
      </if>
      <if test= "statuts != null ">
        and statuts = #{statuts,jdbcType=INTEGER}      
      </if>
      <if test= "count != null ">
        and count = #{count,jdbcType=INTEGER}      
      </if>
      <if test= "returnData != null and returnData != '' ">
        and return_data = #{returnData,jdbcType=VARCHAR}      
      </if>
  </where>
  </select>

<!-- select部分查询字段集合 -->
  <sql id="Base_Column_List">
      id, member_id, member_name, 
      openid, template_id, url, 
      jsondata, created, sended, 
      statuts, count, return_data
  </sql>

  <!-- 按主键实体查询表信息 -->
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.hy.weixin.entity.WechatNotice" >
    select 
      id, member_id, member_name, 
      openid, template_id, url, 
      jsondata, created, sended, 
      statuts, count, return_data
    from td_wechat_notice where id = #{id,jdbcType=BIGINT}
  </select>

  <!-- 按表主键删除数据 -->
  <delete id="deleteByPrimaryKey" parameterType="com.hy.weixin.entity.WechatNotice" >
    delete from td_wechat_notice where id = #{id,jdbcType=BIGINT}
  </delete>

  <!-- 按表主键批量删除数据 -->
  <delete id="deleteBatchByPrimaryKey" parameterType="java.util.List" >
    delete from td_wechat_notice where 
    <foreach collection="list" item="item" index="index" open="(" separator="or" close=")">
        id = #{item}
    </foreach>
  </delete>

  <!-- 可选择性添加数据 -->
  <insert id="insertSelective"  useGeneratedKeys="true" keyProperty="id" parameterType="com.hy.weixin.entity.WechatNotice" >
    insert into td_wechat_notice
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test= "id != null ">
         id,
      </if>
      <if test= "memberId != null ">
         member_id,
      </if>
      <if test= "memberName != null and memberName != '' ">
         member_name,
      </if>
      <if test= "openid != null and openid != '' ">
         openid,
      </if>
      <if test= "templateId != null and templateId != '' ">
         template_id,
      </if>
      <if test= "url != null and url != '' ">
         url,
      </if>
      <if test= "jsondata != null and jsondata != '' ">
         jsondata,
      </if>
      <if test= "created != null ">
         created,
      </if>
      <if test= "sended != null ">
         sended,
      </if>
      <if test= "statuts != null ">
         statuts,
      </if>
      <if test= "count != null ">
         count,
      </if>
      <if test= "returnData != null and returnData != '' ">
         return_data,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test= "id != null ">
         #{id,jdbcType=BIGINT},
      </if>
      <if test= "memberId != null ">
         #{memberId,jdbcType=BIGINT},
      </if>
      <if test= "memberName != null and memberName != '' ">
         #{memberName,jdbcType=VARCHAR},
      </if>
      <if test= "openid != null and openid != '' ">
         #{openid,jdbcType=VARCHAR},
      </if>
      <if test= "templateId != null and templateId != '' ">
         #{templateId,jdbcType=VARCHAR},
      </if>
      <if test= "url != null and url != '' ">
         #{url,jdbcType=VARCHAR},
      </if>
      <if test= "jsondata != null and jsondata != '' ">
         #{jsondata,jdbcType=VARCHAR},
      </if>
      <if test= "created != null ">
         #{created,jdbcType=TIMESTAMP},
      </if>
      <if test= "sended != null ">
         #{sended,jdbcType=TIMESTAMP},
      </if>
      <if test= "statuts != null ">
         #{statuts,jdbcType=INTEGER},
      </if>
      <if test= "count != null ">
         #{count,jdbcType=INTEGER},
      </if>
      <if test= "returnData != null and returnData != '' ">
         #{returnData,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <!-- 可批量添加数据 -->
  <insert id="insertBatch" parameterType="java.util.List" >
    insert into td_wechat_notice (
         id,
         member_id,
         member_name,
         openid,
         template_id,
         url,
         jsondata,
         created,
         sended,
         statuts,
         count,
         return_data)
    values 
    <foreach collection="list" item="item" index="index" separator=",">
         (
         #{item.id,jdbcType=BIGINT},
         #{item.memberId,jdbcType=BIGINT},
         #{item.memberName,jdbcType=VARCHAR},
         #{item.openid,jdbcType=VARCHAR},
         #{item.templateId,jdbcType=VARCHAR},
         #{item.url,jdbcType=VARCHAR},
         #{item.jsondata,jdbcType=VARCHAR},
         #{item.created,jdbcType=TIMESTAMP},
         #{item.sended,jdbcType=TIMESTAMP},
         #{item.statuts,jdbcType=INTEGER},
         #{item.count,jdbcType=INTEGER},
         #{item.returnData,jdbcType=VARCHAR})
    </foreach>
  </insert>

  <!-- 按主键更新表中所有字段信息（create_time,c_time_stamp字段除外）-->
  <update id="updateByPrimaryKeySelective" parameterType="com.hy.weixin.entity.WechatNotice" >
    update td_wechat_notice
    <set>
      <if test= "id != null ">
      id = #{id,jdbcType=BIGINT},
      </if>
      <if test= "memberId != null ">
      member_id = #{memberId,jdbcType=BIGINT},
      </if>
      <if test= "memberName != null and memberName != '' ">
      member_name = #{memberName,jdbcType=VARCHAR},
      </if>
      <if test= "openid != null and openid != '' ">
      openid = #{openid,jdbcType=VARCHAR},
      </if>
      <if test= "templateId != null and templateId != '' ">
      template_id = #{templateId,jdbcType=VARCHAR},
      </if>
      <if test= "url != null and url != '' ">
      url = #{url,jdbcType=VARCHAR},
      </if>
      <if test= "jsondata != null and jsondata != '' ">
      jsondata = #{jsondata,jdbcType=VARCHAR},
      </if>
      <if test= "created != null ">
      created = #{created,jdbcType=TIMESTAMP},
      </if>
      <if test= "sended != null ">
      sended = #{sended,jdbcType=TIMESTAMP},
      </if>
      <if test= "statuts != null ">
      statuts = #{statuts,jdbcType=INTEGER},
      </if>
      <if test= "count != null ">
      count = #{count,jdbcType=INTEGER},
      </if>
      <if test= "returnData != null and returnData != '' ">
      return_data = #{returnData,jdbcType=VARCHAR}
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>

</mapper>
