html, body {
	margin: 0;			/* Remove body margin/padding */
	padding: 0;
	overflow: hidden;	/* Remove scroll bars on browser window */	
    font-size: 75%;
    font-family:'微软雅黑';
}

 div,   ul, li
{ padding:0; margin:0;  }

.add-margin{margin: 14px !important;}
.no-margin{margin: 10 !important;}
.add-padding	{ padding:	14px !important; }
.no-padding		{ padding:		0 !important; }
.add-scrollbar	{ overflow:		auto; }
.no-scrollbar	{ overflow:		hidden; }
.allow-overflow	{ overflow:		visible; }
.full-width	{ width:		100%; }
.full-height	{ height:		100%; }
button			{ cursor:		pointer; }


#tabs .ui-tabs { position: relative; padding: 0; zoom: 1; } 
#tabs .ui-tabs-panel { display: block; border-width: 0; padding: 0; background: none; }
#tabs .ui-tabs-nav li {position: relative;}
#tabs li .ui-icon-close {display: none;position: relative;bottom: 3px;cursor: pointer;}
#tabs .ui-tabs-active .ui-icon-close {display: block;}
#tabs li .ui-icon-close { float: left; margin: 0.4em 0.2em 0 0; cursor: pointer; }



