@charset "utf-8";

*{
    /*-webkit-touch-callout: none;
   -webkit-text-size-adjust: none;
   -webkit-user-select: none;*/
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html,body{height: 100%; width: 100%;}
html{font-size: 62.5%;}
html,body,button,input,select,textarea,h1,h2,h3,h4,ul,li,dl,dt,dd,ol,p,div,span,img,a,em,i{margin:0; padding:0; list-style:none; text-decoration:none; outline: none; font-style: normal; font-family: "微软雅黑"; border: 0; border-radius: 0; -webkit-appearance:none;}

img {vertical-align: middle; width: 100%;}
.clearfix:before,.clearfix:after {content: " "; display: table;}
.clearfix:after {clear: both;}
.button{color: #fff; border: 1px solid #818181; padding: 0 15px; display: inline-block; margin: auto;}

body{font-size: 1.5rem; font-family:"微软雅黑","Microsoft Yahei","黑体";color: #717071; overflow: hidden;-moz-user-select:none;-webkit-user-select:none; background-size: cover;}
.wrap{width: 100%; height: 0; overflow: hidden; -webkit-transition: .7s ease-in-out -webkit-transform;}
.swiper-wrapper {-webkit-transition: .7s ease-in-out -webkit-transform; position: absolute;}
.swiper-slide{width: 100%; overflow: hidden; position: relative;background:#fff no-repeat center center; background-size: 100%; position: relative;}
.page1{background: url("s75d/page.jpg") no-repeat center center; background-size: cover;}
.s90d .page1{background-image: url("s90d/page.jpg");}
.x90d .page1{background-image: url("x90d/page.jpg")}
.audia8 .page1{background-image: url("audia8/page.jpg");}
.bmw730 .page1{background-image: url("bmw730/page.jpg")}
.bmwx5 .page1{background-image: url("bmwx5/page.jpg")}
.benzgle .page1{background-image: url("benzgle/page.jpg")}
.benzr320 .page1{background-image: url("benzr320/page.jpg")}
.benzs320l .page1{background-image: url("benzs320l/page.jpg")}






.mtop1{margin-top: 1% !important;}
.mtop2{margin-top: 2% !important;}
.mtop3{margin-top: 3% !important;}
.mtop4{margin-top: 4% !important;}
.mtop5{margin-top: 5% !important;}
.mtop6{margin-top: 6% !important;}
.mtop7{margin-top: 7% !important;}
.mtop8{margin-top: 8% !important;}
.mtop9{margin-top: 9% !important;}
.mtop10{margin-top: 10%;}


.carInfo{overflow: hidden; margin: 3% 3% 1%;}
.carInfo p{width: 50%; float: left; text-align: center;font-size: 1.7rem; font-weight: bold;}
.banner{width: 93%; display: block; margin: auto}
.bmw730 .banner,.bmwx5 .banner,.benzgle .banner,.benzs320l .banner,.benzr320 .banner,.audia8 .banner{ margin-top: 5%;}
.bmw730 .banner,.bmwx5 .banner,,.benzs320l .banner,.benzr320 .banner,.audia8 .banner{ width: 93%;}
.tesla75d .banner,.benzgle .banner,.audia8 .banner{ margin-top: 2%;}
.infoBox{width: 86%; margin: 2% auto 0;}
.infoBox .title{background: #717171; color: #fff; text-align: center; font-size: 1.5rem; padding: 1.8% 0; margin-bottom: 2px;}
.infoBox li{overflow: hidden; font-size: 1.3rem;}
.infoBox li p{width: 33.333%; box-sizing: border-box; padding: 0 1px 1px 0; float: left; color: #231815;}
.infoBox li p:last-child{padding-right: 0;}
.infoBox li span{padding: 3.8% 0; text-align: center; display: block; background: #eeeeee;}
.infoBox li:first-child p span{background: #dcdcdc;}

.pageBook{background: #020202; padding-top: 88%;}
.teslaBook{background: #020202 url("bookingbg.jpg") no-repeat left -2%; background-size: 100%;}
.audia8Book{background: #020202 url("audia8/bookingbg.jpg") no-repeat left -2%; background-size: 100%;}
.bmw730Book{background: #020202 url("bmw730/bookingbg.jpg") no-repeat left -2%; background-size: 100%;}
.bmwx5Book{background: #020202 url("bmwx5/bookingbg.jpg") no-repeat left -2%; background-size: 100%;}
.benzgleBook{background: #020202 url("benzgle/bookingbg.jpg") no-repeat left -2%; background-size: 100%;}
.benzr320Book{background: #020202 url("benzr320/bookingbg.jpg") no-repeat left -2%; background-size: 100%;}
.benzs320lBook{background: #020202 url("benzs320l/bookingbg.jpg") no-repeat left -2%; background-size: 100%;}






.booking ul{text-align: center; color: #fff; font-size: 1.5rem; line-height: 32px;}
.booking li{margin-bottom: 15px;}
.booking li label{text-align: right; display: inline-block;}
.booking li input,.booking li .selBox{width: 43%; margin-left: 6px; box-sizing: border-box; height: 30px; padding: 0 6px; color: #fff; font-size: 1.5rem; background: rgba(0,0,0,0); border-bottom: 1px solid #818181; display: inline-block;}
.booking li .selBox{position: relative; display: inline-block; height:auto;}
.booking li .selBox input{border-bottom: 0;}
.booking li select{width: 100%; height: 100%; position: absolute; left: 0; top: 0; background: rgba(0,0,0,0); color: #fff; font-size: 1.5rem; }
.booking li .hiddenName{opacity: 0;}
.booking li .button{border:0; border-bottom:1px solid #fff; padding:0 2px; line-height: 26px;}

.booking li.errInfo{font-size: 1.2rem; margin-bottom: 0; height: 25px; line-height: 25px; margin-top: -10px; text-align: left; padding-left: 38%;}

/*.button{background: url(images/10_03.jpg) no-repeat; background-size: 100% 100%;  line-height: 35px; text-align: center; color: #4d4d4d; font-size: 1.8rem; font-weight: bold; display: block;}*/
/*.tel,.page img.tel{width: 50.666%; display: block; margin: auto;}*/
/*.page .code{width: 25.73%; display: block; margin: 10% auto 0;}*/

/*.botInfo{width:100%; font-size: 1.3rem; line-height: 30px; text-align: center; color: #e8dbb7; position: absolute; bottom: 0px; left: 0;}*/

/*.arrow{width: 40px; height: 40px; background: url(images/arrow.png) no-repeat center center; background-size: 100%; position: absolute; bottom: 0px; left: 50%; margin-left: -20px; -webkit-animation: arrow 1s ease-out 0s infinite; z-index: 99;}*/
/*.arrowEnd{background-image: url(images/arrow_2.png);}*/
/*.page6 .arrow{bottom: 25px;}*/
.diaBox{width: 100%; height: 100%; background: rgba(0,0,0,0.4); position: fixed; top: 0; left: 0; display: none; z-index: 100;}
.diaTable{width: 100%; height: 100%; display: table; text-align: center;}
.diaRow{ display: table-row;}
.diaCell{display: table-cell; vertical-align: middle;}
.diaCell .content{background: #fff; width: 60%; margin: auto; padding: 10% 0; color: #333; border-radius: 6px; text-align: center; font-size: 2rem;}
@-webkit-keyframes arrow{
    0%{-webkit-transform: translateY(-5px);}
    50%{-webkit-transform: translateY(0px);}
    100%{-webkit-transform: translateY(-5px);}


@media screen and (max-width:330px){

}
}
@media  screen and (min-width:375px ) and (max-width:413px) {
    .carInfo p{font-size: 1.7rem;}
    .infoBox{ margin: 2.8% auto 0;}
    .infoBox li span{padding: 4% 0;}

    .pageBook{padding-top: 91%;}
    .booking ul{font-size: 1.7rem; line-height: 34px;}
    .booking li input,.booking li select{ height: 32px; font-size: 1.7rem;}
}

@media screen and (min-width:414px) and (max-width:579px){
    .carInfo{margin: 2% 7% 1%; }
    .carInfo p{font-size: 1.8rem;}
    .infoBox{ margin: 4% auto 0;}
    .infoBox .title{font-size: 1.7rem; padding: 2% 0; margin-bottom: 4px;}
    .infoBox li p{padding: 0 2px 2px 0;}
    .infoBox li span{padding: 5% 0;}

    .pageBook{padding-top: 91%;}
    .booking ul{font-size: 1.7rem; line-height: 38px;}
    .booking li input,.booking li select{ height: 36px; font-size: 1.7rem;}

}

@media screen and (min-width:578px){

}
